/**
 * Custom
 */
.absolute-trbl{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    @include media-query($on-laptop) {
       position: relative;
       top: auto;
       right: auto;
       left: auto;
       bottom: auto;
    }
}
.absolute-rl{
  position: absolute;
  right: 0;
  left: 0;
}
.placeholder
{
  height: 100px;
  background-color: #00FF66;
}
.page{
  a{
    color: #5B5758;
  }
  a:hover {
     color: #413C3C;
     text-decoration: none;
  }

  a.link-to-college
  {
    width: 280px;
    margin: 18px 8px;
    border-radius: 24px;
    padding: 6px 12px;
    letter-spacing: 0;
    color: #ffffff;
  }
  a.link-to-college:hover {
      color: #ffffff;
  }
  @include media-query($on-bigger) {
     /*background-image: url('/assets/images/bg1920.jpg');*/
  }
  @include media-query($on-big) {
     /*background-image: url('/assets/images/bg1440.jpg');*/
  }
  @include media-query($on-pc) {
     /*background-image: url('/assets/images/bg1024.jpg');*/
  }
  @include media-query($on-laptop) {

  }
}
.slider{
   background-color: #CC9900;
}

.site-header{
  margin: 0;
  padding: 6px 0 12px;
  border: 0;
  .menu{
    padding: 24px 0 0 0;
  }
}
.site-header .wrapper{
  padding-top: 18px;
}

.site-footer{
  background-color: #e8e8e8;
  .copyright{

  }
}
.page-content{

}

.site-header{

  @include media-query($on-bigger) {
   }
  @include media-query($on-big) {
   }
  @include media-query($on-pc) {
   }

  @include media-query($on-laptop) {

  }
}
.page-content{
  @include media-query($on-bigger) {
    top: 248px;
  }
  @include media-query($on-big) {
    top: 190px;
  }
  @include media-query($on-pc) {
    top: 160px;
  }
    @include media-query($on-laptop) {
      top:auto;
    }
}

.site-footer{

}

.width-hd{
  width: 800px;
  margin-left: auto;
  margin-right: auto;

}
@media screen and (min-width: $on-pc) {

  .site-nav-pc {
    padding: 0 0 0 5px;
    background-image: url('/assets/images/nav.png');
    background-position: top left;
    background-repeat: no-repeat;
    line-height: 48px;
  }
  .site-nav-pc .page-link{
    color: #00C3DC;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 6px;
    display: inline-block;
    width: 130px;
    text-align: center;
    padding: 12px 0 20px 0;
  }
  .site-nav-pc .page-link.page-link-active{
    color: #ffffff;
  }
  .site-nav-pc .page-link:hover{
    color: #ffffff;
    background-image:  url('/assets/images/nav-hl.png');
    background-repeat: no-repeat;
    background-position: bottom center;
  }

}

.post{
  padding: 2px 46px 12px 46px;
  letter-spacing: normal;
}
.post.contact{
  width: 480px;
  margin: auto;
  padding: 0;
  h2{
    padding: 12px 0;
    margin: 12px 0;
    border-bottom: solid 1px #000000;
  }
  p{
    line-height: 1.6em;
    padding: 8px 0;
  }
}
.post-title{
  line-height: 30px;
  font-size: 22px;
  padding:  6px 0 6px 38px;
  background-image:  url('/assets/images/title-bg.png');
  background-repeat: no-repeat;
  background-position: center left;
}
.post-content{
  h2{ font-size: 38px; color:#433C3D;}
  font-size: 14px;
  margin: 20px auto;
  .section{
    background-color: #E8E8E8;
    margin: 4px 16px;

    .section-title{
      padding: 18px 8px;
      text-align: center;
      font-size: 150%;

    }

  }

  .product{
    background-color: #E8E8E8;
    margin: 4px 16px;

    padding: 16px;
    height: 140px;
    .product-icon{
      text-align: center;
      padding: 12px 16px 0;
    }
    .product-desc{
      padding: 12px 32px;
    }
  }
}

.site-nav  li.locale{
  float: left;
 }
.locale a{
  display: inline-block;
  padding:  24px 16px 24px 68px;
  background-repeat: no-repeat;
  background-position: left center;
}
.locale-cn a{
  background-image:  url('/assets/images/flag-cn.png');

 }

.locale-en a{
  background-image:  url('/assets/images/flag-ca.png');
 }

.content{

  margin: auto;
  @include media-query($on-laptop) {

  }
}

.nutrition{
  position: relative;
  background-image:  url('/assets/images/nutrition.png');
  background-repeat: no-repeat;
  height: 600px;
}
.feature-title{
  display: none;
}
.nutrition1{
  position: absolute;
  top: 68px;
  left: 214px;
}
.nutrition2{
  position: absolute;
  top: 268px;
  left: 384px ;
}
.nutrition3{
  position: absolute;
  top: 484px;
  left: 48px ;
}

.nutrition-plam{
  display: none;
}
.product
{

}
.product p{
  margin:  0 20px 8px 0;
  border-bottom: solid 1px #ffffff;
  padding:  0 0 2px 0;
}
.product p.last{
  border-bottom: none;
}
.product-desc{

}
.product-img{
  height: 184px;
  text-align: center;
}
body.zh{
  .post-title{
    padding:  6px 0 6px 50px;
  }
}

body.en{
  .site-nav{

  }
  .site-nav  li.page-link-wrapper{
    float: left;
    padding: 0  32px;
    border-right: solid 1px gray;
  }


  .site-nav .page-link{
    letter-spacing: normal;
    font-size: 14px;
    padding: 4px 1px;
    &:hover   {text-decoration: none;border-bottom: solid 2px red; }
    &:link    {}
    &:visited {}
    &:active  {}
  }
  .product p{
    margin:  0 12px 8px 0;
  }
  .product-desc{

  }
  .nutrition{
    background-image:  url('/assets/images/nutrition-en.png');
  }

  .post-title-l{
    background-image:  url('/assets/images/title-bg-l.png');
  }
}
body.fr{
  .site-nav-pc{
      line-height: 46px;
  }
  .site-nav-pc .page-link{
    letter-spacing: normal;
    font-size: 14px;
    padding: 12px 0 21px 0;

  }
  .product p{
    margin:  0 12px 8px 0;

  }
  .product-desc{

  }
  .nutrition{
    background-image:  url('/assets/images/nutrition-fr.png');
  }
  .post-title-l{
    background-image:  url('/assets/images/title-bg-l.png');
  }
}

@media screen and (max-width: $on-palm) {
   body{

   }
   .page{
      background-image: none;
   }
  .wrapper { padding: 0;}
  .content {
    top:auto;
    bottom: auto;
  }
  .site-nav-pc {
      /*line-height: 24px;*/
      /*margin: 0 2px 0 2px;
      background-image: url('/assets/images/nav.png');
      background-position: top left;
      background-repeat: no-repeat;
      background-size: contain;
      */
      background-color: #0B308E;
      opacity: 0.5;
      border-radius: 5px;
      margin: 0 2px;
      line-height: inherit;
  }
  .site-nav-pc .page-link{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding: 18px;
    border-right: solid 1px #ffffff;
    margin: 6px 0;
    width: 32%;

  }
  .site-nav-pc .page-link:last-child
  {
    border: none;
  }
  .site-nav-pc .page-link:nth-child(3)
  {
    border: none;
  }

  .post{
    padding: 2px 10px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: normal;
  }
  .post-content{
    margin: 8px 0;
  }
  .product
  {
    display: block;
    width: 100%;
  }
  .product-img
  {
    width: 42%;
    float: left;
    height: auto;
  }
  .product-desc
  {

  }
  .nutrition, body.fr .nutrition, body.en .nutrition
  {
    height: auto;
    background-image:  none;
    .feature{
      position: relative;
      top:auto;
      left: auto;
      margin: 0 0 8px 0;

      .feature-title{
        display: block;
        span{
          display: inline-block;
          background-color: #F7B52C;
          padding: 3px 5px;
          border-radius: 0 5px;
        }
      }
    }

  }
  .nutrition-plam{
    display: block;
  }


  body.fr .site-nav-pc
  {
    line-height: normal;
    .page-link
    {
      padding:  0;
      line-height: normal;
                font-size: 12px;
    }
  }
  body.en .site-nav-pc{
    line-height: normal;

    .page-link
    {
      padding:  0;
      font-size: 12px;
      line-height: normal;
    }
  }
}
.f-col-md-4, .f-col-md-6{
  float: left;
}
.f-col-md-4
{
  width:  33.3333%;
}
.f-col-md-6
{
  width:  50%;
}

/* logo 桔色 */
.u-btn-co{border-color:#e1962d;background:#FF9000;}
.u-btn-co:hover,.u-btn-c2:focus{background:#F09500;}
/* logo 红色 */
.u-btn-cr{border-color:#9f161b;background:#de2027;}
.u-btn-cr:hover,.u-btn-c1:focus{background:#EA2C31;}
