<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{{page.lang}}">
   <div class="page ">

          {% include header.html %}

          <main class="" aria-label="Content">
            <div class="page-bg-outer">
              <div class="page-bg ">
                <div class="page-bg-inner">
                  <div class="">
                    {{ content }}
                  </div>
                </div>
              </div>
            </div>
          </main>
          {% include footer.html %}

    </div>
  </body>

</html>
